Data Science - Primeiros Passos/ratings.csv
Data Science - Primeiros Passos/links.csv
Data Science - Primeiros Passos/movies.csv
Data Science - Primeiros Passos/tags.csv
Data Science - Primeiros Passos/tmdb-5000-movie-dataset.zip
Data Science - Primeiros Passos/tmdb_5000_credits.csv
Data Science - Primeiros Passos/tmdb_5000_movies.csv
01 - Data Science - Primeiros Passos/movies.csv
01 - Data Science - Primeiros Passos/links.csv
01 - Data Science - Primeiros Passos/ratings.csv
01 - Data Science - Primeiros Passos/tags.csv
01 - Data Science - Primeiros Passos/tmdb-5000-movie-dataset.zip
01 - Data Science - Primeiros Passos/tmdb_5000_credits.csv
01 - Data Science - Primeiros Passos/tmdb_5000_movies.csv
.vscode/settings.json
.vscode/
